body {

    width: 500px;
    height: 150px;
}
button{
    width: 100px;
    height: 100px;
}
input{
    width: 200px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}